.w500 {
  width: 548px;
}
@media (max-width: 767px) {
  .w500 {
    width: 100%;
  }
}
.main {
  display: flex;
  justify-content: flex-end;
  width: 200%;
  margin-left: calc(-100% + 15px);
}
@media (max-width: 767px) {
  .main {
    width: 100%;
    margin-left: 0;
  }
}
.collapsing.width {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.65s;
  transition-duration: 0.65s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.picker {
  max-width: 548px;
  width: 548px;
}
.picker.show .w500 {
  position: fixed;
}
@media (max-width: 767px) {
  .picker.show .w500 {
    position: static;
  }
}
@media (max-width: 767px) {
  .picker {
    float: left;
    width: 100%;
    height: 100%;
  }
}
.branding {
  background: url(../images/guy.jpg) fixed 50% 0%, url(../images/guy.jpg) repeat-x 50% 0%;
}
.branding header .navbar {
  background-color: #fff;
}
.branding__proposal {
  display: none;
  height: 200px;
}
.branding footer > * {
  background-color: #fff;
}
.proposal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.link--brand {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: -1;
}
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.bell {
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
}
.bell__icon {
  cursor: pointer;
}
@media (max-width: 767px) {
  .bell__icon {
    width: 40px;
    height: 40px;
  }
}
.bell__text {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .bell__link {
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .bell .collapse {
    display: block;
  }
}
@media (min-width: 768px) {
  .bell {
    height: auto;
    top: 140px;
    right: 0;
    position: absolute;
    z-index: 20;
    margin-top: 0;
    font-size: 18px;
  }
}
.music {
  top: 490px;
  right: 20px;
  position: fixed;
  background: url("../images/icons/audio-mobile.png");
  width: 50px;
  height: 50px;
  z-index: 20;
  color: #000;
  transition: 0.3s;
}
.music:hover {
  background: url("../images/icons/audio-active.png");
}
@media (min-width: 768px) {
  .music {
    position: absolute;
    top: 778px;
    right: 0;
    background: url("../images/icons/audio.png");
    width: 90px;
    height: 90px;
  }
}
.bd-top-18 {
  border-top: 18px solid #1a1a1a;
}
.share {
  padding: 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.comment {
  padding: 30px 30px 0;
  margin-left: -30px;
  margin-right: -30px;
}
.comment__text {
  font-size: 30px;
  font-weight: 800;
}
