.elections {
  background-color: #1a1a1a;
}
.election {
  background-color: #fff;
  border: 18px solid #1a1a1a;
}
.election__header {
  padding: 30px 30px 15px;
  position: relative;
}
@media (max-width: 767px) {
  .election__header {
    padding: 20px 30px 5px 20px;
  }
}
.election__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 767px) {
  .election__close {
    top: 14px;
    right: 21px;
  }
}
.election__close-icon {
  background: url('../images/icons/search/combined-shape.png');
  height: 40px;
  width: 40px;
}
@media (max-width: 767px) {
  .election__close-icon {
    height: 26px;
    width: 26px;
    display: block;
    padding: 0;
    background-size: 100%;
  }
}
.election__body {
  padding: 30px;
  border-top: 18px solid #1a1a1a;
}
@media (max-width: 767px) {
  .election__body {
    border-width: 0;
    padding: 20px;
  }
}
.election__select {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}
.election__select .checkbox {
  margin-bottom: 8px;
  display: flex;
}
@media (max-width: 767px) {
  .election__select .checkbox {
    margin-bottom: 0;
  }
  .election__select .checkbox.w-50 {
    margin-right: 50%;
  }
}
@media (max-width: 767px) {
  .election__select {
    margin-bottom: 2px;
  }
}
.election__footer {
  padding: 40px 30px 30px;
  border-top: 18px solid #1a1a1a;
  background-color: #e6c42f;
  text-align: center;
}
@media (max-width: 767px) {
  .election__footer {
    border-width: 9px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 800;
  }
}
.election .h4 {
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
}
@media (max-width: 767px) {
  .election .h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .election input.h4 {
    font-size: 18px;
  }
}
.election .h5 {
  font-size: 22px;
  line-height: 1.27;
}
@media (max-width: 767px) {
  .election .h5 {
    font-size: 16px;
    line-height: 1.57;
  }
}
.election--first .election__body {
  background-color: #6377f3;
  display: flex;
  flex-flow: column;
}
.election--second .election__body {
  background-color: #f23636;
  display: flex;
  flex-flow: column;
}
.election--second .election__select .checkbox label:last-of-type {
  margin-top: 5px;
  margin-bottom: 0;
}
.election--third .election__body {
  background-color: #f23636;
  display: flex;
  flex-flow: column;
}
.election--third .election__select .checkbox label:last-of-type {
  margin-top: 5px;
  margin-bottom: 0;
}
.election--fourth .election__footer {
  border: 0;
}
@media (max-width: 767px) {
  .election {
    border-width: 9px;
  }
}
.custom .checkbox input[type='checkbox'] {
  display: none;
}
.custom .checkbox input[type='checkbox'] + label {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  border: 3px solid black;
  background: #fff;
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .custom .checkbox input[type='checkbox'] + label {
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 11px;
  }
}
.custom .checkbox label {
  vertical-align: middle;
}
.custom .checkbox label:last-of-type {
  font-size: 22px;
  margin-left: 18px;
  line-height: 1;
}
@media (max-width: 767px) {
  .custom .checkbox label:last-of-type {
    font-size: 15px;
    margin-left: 11px;
    margin-top: 4px;
    margin-bottom: 11px;
  }
}
.custom .checkbox input[type='checkbox']:checked + label::before {
  color: black;
  font-size: 8px;
  background-color: black;
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
}
@media (max-width: 767px) {
  .custom .checkbox input[type='checkbox']:checked + label::before {
    width: 10px;
    height: 10px;
  }
}
.results {
  display: flex;
}
.results__rating {
  font-size: 21px;
  font-weight: 800;
  min-width: 45px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .results__rating {
    font-size: 15px;
    min-width: 35px;
  }
}
.results__item {
  font-size: 22px;
}
.results__item--chosen {
  font-weight: 800;
}
@media (max-width: 767px) {
  .results__item {
    font-size: 16px;
  }
}
.breadcrumbs {
  position: relative;
}
.breadcrumbs__container {
  position: absolute;
  top: -50px;
}
@media (max-width: 767px) {
  .breadcrumbs__container {
    display: none;
  }
}
.breadcrumb--head {
  background-color: transparent;
}
.breadcrumb-item {
  font-size: 14px;
  color: #1a1a1a;
}
.breadcrumb-item a {
  color: #1a1a1a;
  transition: 0.3s;
}
.breadcrumb-item a:hover {
  color: #f23636;
}
