@import "variables";

.elections{
  background-color: @black;
}

.election{
  &__header{
    padding: 30px 30px 15px;
    //margin: 9px;
    position: relative;

    @media (max-width: @xs-max) {
      padding: 20px 30px 5px 20px;
    }
  }
    &__close{
      position: absolute;
      top: 20px;
      right: 20px;

      @media (max-width: @xs-max) {
        top: 14px;
        right: 21px;
      }
    }
      &__close-icon{
        background: url('../images/icons/search/combined-shape.png');
        height: 40px;
        width: 40px;
        @media (max-width: @xs-max) {
          height: 26px;
          width: 26px;
          display: block;
          padding: 0;
          background-size: 100%;
        }
      }

  &__body{
    padding: 30px;
    // margin: 9px;
    border-top: 18px solid @black;

    @media (max-width: @xs-max) {
      border-width: 0;
      padding: 20px;
    }
  }
    &__select{
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 12px;

      .checkbox{
        margin-bottom: 8px;
        display: flex;

        @media (max-width: @xs-max) {
          margin-bottom: 0;
          &.w-50{
            margin-right: 50%;
          }
        }
      }

      @media (max-width: @xs-max) {
        margin-bottom: 2px;
      }
    }

  &__footer{
    padding: 40px 30px 30px;
    // margin: 9px;
    border-top: 18px solid @black;
    background-color: #e6c42f;
    text-align: center;

    @media (max-width: @xs-max) {
      border-width: 9px;
      padding: 10px 10px;
      font-size: 18px;
      font-weight: 800;
    }
  }

  .h4{
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
    @media (max-width: @xs-max) {
      font-size: 20px;
    }
  }

  input.h4{
    @media (max-width: @xs-max) {
      font-size: 18px;
    }
  }

  .h5{
    font-size: 22px;
    line-height: 1.27;

    @media (max-width: @xs-max) {
      font-size: 16px;
      line-height: 1.57;
    }
  }

  &--first{
    .election__body{
      background-color: @purple;
      display: flex;
      flex-flow: column;
    }
  }

  &--second{
    .election__body{
      background-color: @red-one;
      display: flex;
      flex-flow: column;
    }

    .election__select{
      .checkbox label:last-of-type{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
  &--third{
    .election__body{
      background-color: @red-one;
      display: flex;
      flex-flow: column;
    }

    .election__select{
      .checkbox label:last-of-type{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
  &--fourth{
    .election__footer{
      border: 0;
    }
  }

  background-color: #fff;
  border: 18px solid @black;

  @media (max-width: @xs-max) {
    border-width: 9px;
  }
}

input[type="checkbox"]{

}
.input-checkbox-variant(@color; @background; @border; @size){
  input[type='checkbox']{display: none;}
  input[type='checkbox'] + label{
    height: @size;
    width: @size;
    min-width: @size;
    min-height: @size;
    border: 3px solid @border;
    background: @background;
    display: inline-block;
    position: relative;
    @media (max-width: @xs-max) {
      height: 20px;
      width: 20px;
      min-width: 20px;
      min-height: 20px;
      margin-bottom: 11px;
    }
  }
  label{
    vertical-align: middle;
    &:last-of-type{
      font-size: 22px;
      margin-left: 18px;
      line-height: 1;

      @media (max-width: @xs-max) {
        font-size: 15px;
        margin-left: 11px;
        margin-top: 4px;
        margin-bottom: 11px;
      }
    }
  }
  input[type='checkbox']:checked + label::before{
    color: @color;
    font-size: 8px;
    background-color: @color;
    //content: '\u25A0';
    content: '';
    width: 20px;
    height: 20px;
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    position: absolute;

    @media (max-width: @xs-max) {
      width: 10px;
      height: 10px;
    }
  }
}
@color-custom: black;
@background-custom: #fff;
@border-custom: black;
@size-checkbox: 30px;

.custom .checkbox{
  .input-checkbox-variant(@color-custom; @background-custom; @border-custom; @size-checkbox);
}

.results{
  &__rating{
    font-size: 21px;
    font-weight: 800;
    min-width: 45px;
    margin-right: 20px;

    @media (max-width: @xs-max) {
      font-size: 15px;
      min-width: 35px;
    }
  }
  &__item{
    font-size: 22px;
    &--chosen{
      font-weight: 800;
    }

    @media (max-width: @xs-max) {
      font-size: 16px;
    }
  }
  display: flex;
}

.breadcrumbs {
  &__container {
    position: absolute;
    top: -50px;

    @media (max-width: @xs-max) {
      display: none;
    }
  }
  position: relative;
}

.breadcrumb {
  &--head {
    background-color: transparent;
  }
}

.breadcrumb-item{
  font-size: 14px;
  color: @black;

  a{
    color: @black;
    transition: .3s;

    &:hover{
      color: @red-one;
    }
  }
}