@import "variables";

@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/muller-regular.eot");
  src: local('Muller Regular'), local('Muller-Regular'), url("../fonts/muller/muller-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/muller-regular.woff2") format("woff2"), url("../fonts/muller/muller-regular.woff") format("woff"), url("../fonts/muller/muller-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/muller-extrabold.eot");
  src: local('Muller Extrabold'), local('Muller-extrabold'), url("../fonts/muller/muller-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/muller-extrabold.woff2") format("woff2"), url("../fonts/muller/muller-extrabold.woff") format("woff"), url("../fonts/muller/muller-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
body{
  font-family: Muller, sans-serif;
}
html, body{
  height: 100%;
}
body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.logo{
  @media (min-width: @sm-min) {
    padding-left: 20px;
    width: 303px;
  }

  &--footer{
    padding-left: 0;
    @media (max-width: @xs-max) {
      width: 200px;
    }
  }

 /* @media (max-width: @xs-max) {
    width: 100px;
  }*/
}

.ai-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-form{
  background-color: #e6c42f;
}
.search-form__input{
  font-size: 18px;
}
.search-form__input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}
.copy{
  font-size: 12px;
}
.authors{
  font-size: 12px;
}

.head{
  &__logo{
    @media (max-width: @md-max) {
    }
  }
  &__toggle{
    @media (max-width: @md-max) {
      border: 0;
      padding: 0;
      margin: 0 4px 6px 10px;
      order: 3;

      .navbar-toggler-icon {
        background-image: url("../images/icons/menu.png");
        width: 30px;
        height: 30px;
        transition: background-image .3ms;
      }

      &[aria-expanded="true"]{
        .navbar-toggler-icon {
          background-image: url("../images/icons/close-small@2x.png");
        }
      }
    }
  }
  &__search{
    @media (max-width: @md-max) {
      margin-left: auto;
    }
  }
  @media (max-width: @xs-max) {

  }
}
.navbar--head .navbar-nav .nav-link{
  font-size: 18px;
  font-weight: 800;
  color: #1c1c1c;
  padding-left: 0;
  padding-right: 26px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;

}
.navbar--head{
  @media (max-width: @sm-max) {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 21;
    background: #fff;
    width: 100%;
    .navbar-nav .nav-link{
      padding: 11px 18px;
      line-height: 1;
    }
  }
}
.nav--footer.nav .nav-link{
  font-size: 16px;
  font-weight: 800;
  color: #1c1c1c;
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  @media (max-width: @xs-max) {
    font-size: 14px;
    line-height: 1;
  }
}
.navbar--head .navbar-nav .active > .nav-link{
  color: @red-one;
  @media (max-width: @xs-max) {
    background-color: @red-one;
    color: @black;
  }
}
.nav--footer.nav .active.nav-link {
  color: @red-one;
}
.navbar--head .navbar-nav .nav-link:hover,
.nav--footer.nav .nav-link:hover{
  color: red;
  text-decoration: underline;
}

.grid {
  &__article{
    background-color: #fff;
    width: ~"calc(100% * 3 / 4 - 18px)";
    padding: 40px 30px;
    margin: 9px;
    float: left;

    h1,h2,h3,h4,h5,h6{
      font-weight:800;
      margin-bottom: 20px;
    }
    strong{
      font-weight: 800;
    }
    p{
      margin-bottom: 20px;

      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6{
        margin-top: 40px;
      }
    }
    > ul{
      list-style: none;
      padding-left: 0;
      li{
        position: relative;
      }
      li:before{
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 14px;
        background-color: @black;
      }
    }

    @media (max-width: @xs-max) {
      width: 100%;
    }
  }
  &__sidebar{
    background-color: #fff;
    width: ~"calc(100% / 4 - 18px)";
    margin: 9px;
    float: left;

    > *:nth-child(n+2){
      border-top: 18px solid @black;
      padding-top: 30px;
    }

    @media (max-width: @xs-max) {
      width: 100%;
    }
  }
  padding: 9px 9px 0;
  background: @black;

  @media (max-width: @xs-max) {
    padding: 0;
  }
  & + .grid {
    padding: 0 9px;
    @media (max-width: @xs-max) {
      padding: 0;
    }
  }
  &:nth-last-child(1) {
    @media (min-width: @sm-min) {
      padding-bottom: 9px;
    }
  }
  &:before {
    content: '';
    display: table;
    clear: both;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &--article-list{
    @media (max-width: @xs-max) {
      .new{
        height: auto;
      }
      .new__bg img{
        display: none;
      }
      .new__title{
        background-color: @gold;
        color: @black;
        font-size: 23px;
        padding: 16px 20px;
      }
      .new--widget{
        display: none;
      }
    }
  }
}

.nav-link{
  color: #1c1c1c;
  transition: .3s;
  &:hover,
  &:focus,
  &:active{
    color: @button-hover-color;
    text-decoration: underline;
  }
}

@import "new";


.auth{
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 10px 10px;
  margin: 0;
}
.writer{
  &__name{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    padding: 14px 10px;
  }
  &__image{
    height: 220px;
    overflow: hidden;
  }

}
.readmore{
  &:before {
    content: '';
    display: table;
    clear: both;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .h4{
    font-size: 30px;
    font-weight: 800;
  }
  background-color: #fff;
}
.related{
  display: flex;
  justify-content: space-between;

  @media (max-width: @xs-max) {
    flex-direction: column;
  }
}
.fullspan{
  width: ~"calc( 100% - 18px)";
  margin: 9px;
  padding: 40px 30px;
}
.colspan2 {
  height: 2*@grid-height + 18px;
  @media (min-width: @sm-min) {
    margin-bottom: -9px;
  }
  @media (max-width: @xs-max) {
    height: 1*@grid-height-mobile + 18px;
  }
}

.fr {
  float: right;
}

.mt-minus {
  margin-top: 0;
  @media (min-width: @sm-min) {
    margin-top: ~"calc(-@{grid-height} + 9px)";
  }
}

.rowspan2 {
  @media (min-width: @sm-min) {
    width: ~"calc(2 * 100% / 3 - 18px)";
  }
}

.colspan2.rowspan2 {
  margin-bottom: 9px;
  @media (max-width: @xs-max) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.colspan2.mt-minus--up {
  margin-top: 0;
  @media (min-width: @sm-min) {
    margin-top: ~"calc(-@{grid-height} - 9px)"; // -18px + 9px
    margin-bottom: 9px;
  }
}

.colspan2.mt-minus--down {
  margin-top: 0;
  @media (min-width: @sm-min) {
    margin-top: ~"calc(-@{grid-height} + 9px)";
  }
}

.fat-num{
  font-weight: 800;
}

.stats{
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  height: auto;
  padding: 40px 30px;
  font-size: 18px;

  &__published{
  }
  &__shared{
    margin-left: auto;
    padding-left: 30px;
    @media (max-width: @xs-max) {
      order: 1;
    }
  }
  &__read{
    padding-left: 30px;
    @media (max-width: @xs-max) {
      order: 1;
    }
  }
  &__commented{
    padding-left: 30px;
    @media (max-width: @xs-max) {
      order: 1;
    }
  }

  @media (max-width: @xs-max) {
    font-size: 0;
    span{
      font-size: 18px;
    }
  }
}
/*.socials__icon:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    border: 2px solid #3a563f;
    box-shadow: inset 0 0 0 4px rgba(117, 154, 60, 0);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}*/
.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__item {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  &__icon {
    width: 30px;
    height: 30px;
    background-color: @black;
    position: relative;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &:hover {
      background-color: #5f5f5f;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      color: #ffffff;
      text-decoration: none;
    }
    .fa {
      font-size: 17px;
      margin: 0;
    }

    @media (max-width: 991px) {
      /*    width: 2.5em;
          height: 2.5em;
          .fa {
            font-size: 16px;
          }*/
    }
  }

  &--vertical{
    flex-flow: column;

    .socials__item{
      background-color: #e6c42f;
      margin-bottom: 18px;
      text-align: right;
      justify-content: space-between;
      padding-right: 20px;
      align-items: center;

      @media (max-width: @xs-max) {
        margin-bottom: 13px;
      }
    }
    .socials__icon{
      color: #e6c42f;
      width: 40px;
      height: 40px;
      font-size: 22px;

      @media (max-width: @xs-max) {
        width: 30px;
        height: 30px;
        font-size: 17px;
      };
    }
  }
  &--horizontal{
    .socials__item {
      margin-bottom: 13px;
      padding: 0 4px;

      @media (max-width: @xs-max) {
        padding: 0 10px 0 0 ;
      }
      @media (min-width: 992px) {
        & + .socials__item {
          margin-left: 11px;
        }
      }
    }
    .socials__icon {
      @media (max-width: @xs-max) {
        width: 20px;
        height: 20px;
        font-size: 11px;
      }
    }
    @media (min-width: @min) {
      top: 0;
      left: 118px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      justify-content: flex-start;
    }

  }
  &--sidebar{
    .socials__item{
      margin-top: 19px;
      margin-bottom: 0;
    }
    .socials__icon{
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
  &--article{
    flex-direction: row;

    .socials__item {
      padding-right: 20px;
      align-items: center;
    }
  }
  @media (max-width: 991px) {
    /*height: 190px;*/
  }
}

a.socials__item{
  transition: .3s;
  text-decoration: none;
  color: @black;
  &:hover{
    background-color: @button-hover-color;

    .socials__icon{
      color: @button-hover-color;
      transition: .3s;
    }
  }
}

.popular{
  &__theme{

    &:before{
      content: '';
      background-color: #f23636;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
  }
  &__title{
    font-weight: 800;
    margin-top: 9px;
    padding: 0;
  }
  margin-bottom: 14px;
}
.btn{
  &--borderless{
    border: 0;
  }
  &--transparent{
    background: transparent;
  }
  &--black{
    color: #fff;
    background-color: @black;
    border: 0;
    transition: .3s;
    border-radius: 0;

    &:hover{
      background-color: @button-hover-color;
      color: #fff;
    }
  }
  &--widget{
    font-size: 30px;
    font-weight: 800;
    padding: 18px 0;

    @media (max-width: @xs-max) {
      font-size: 20px;
    }
  }
  &--sub{
    display: block;
    margin-top: auto;
  }
  &--sidebar{
    padding: 7px 0;
    font-size: 18px;
  }
  &--article{
    text-transform: uppercase;
    padding: 11px 55px;
  }

  &--unroll{
    margin-left: auto;
    color: @black;

/*    &::after{
      display: inline-block;
      margin-left: 10px;
      transition: .3s;
      font-family: "Font Awesome 5 Free";
      content: '\f107';
    }*/
    .fa~{
      transition: .3s;
    }
    &[aria-expanded="true"]{

      .fa~{
        transition: .3s;
        transform: rotate(180deg);
      }
    }
  }

  &--pick{
    font-size: 24px;
    font-weight: 800;
    padding: 14px 30px;
    @media (max-width: @xs-max) {
      font-size: 18px;
      padding: 6px 30px;
    }
  }
  &--rollback{

  }
}

.input{
  border: 2px solid #1c1c1c;
  border-radius: 0;
  font-size: 24px;
  font-weight: 800;
  &::placeholder{
    color: #1c1c1c;
  }

  &--transparent{
    background-color: transparent;
    padding: 38px 20px;
    font-size: 24px;
  }

  &--sidebar{
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
  }
}

.creator{
  flex-flow: row;
  justify-content: unset;

  &__avatar{
    //min-width: @grid-height;
    height: @grid-height;
    overflow: hidden;
    min-width: 369px;

    img{
      width: 100%;
      object-fit: cover;
    }
  }

  &__info{
    //max-width: 100% ;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
  }
    &__name{
      padding: 30px;
      font-size: 30px;
      font-weight: 800;
      color: @black;
      transition: .3s;

      &:hover{
        color: @red-one;
      }
    }
    &__text{
      padding: 10px 30px;
      margin-bottom: auto;
    }
    &__articles-count{
      padding: 30px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  &.fullspan{
    padding: 0;
  }
  &.colspan2{
    flex-flow: column;
  }

  &--reverse{
    flex-flow: row-reverse;
  }
}

.empty{
  &__head{
    font-size: 110px;
    font-weight: 800;
    line-height: 1;
  }
  &__body{
    font-size: 50px;
    line-height: 1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__return{

  }
  &__footer{

  }

  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 50px 0;
}

@import 'elections';
@import "coll";
@import "search-results";

@import "pag";



blockquote{
  border-left: @red-one 1px solid;
  padding-left: 10px;
}

.bg-black{
  background-color: @black;
}

.slider{
  &--arrows{
    background-color: @black;
    padding: 0 80px;
  }
  margin-bottom: 40px;
}

a.back-to-top {
  display: none;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 320px;
  background: url("../images/icons/top.png");

  @media (max-width: @xs-max) {
    display: none !important;
  }
}

a.back-to-bot {
  display: none;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 220px;
  background: url("../images/icons/bottom.png");

  @media (max-width: @xs-max) {
    display: none !important;
  }
}