@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/muller-regular.eot");
  src: local('Muller Regular'), local('Muller-Regular'), url("../fonts/muller/muller-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/muller-regular.woff2") format("woff2"), url("../fonts/muller/muller-regular.woff") format("woff"), url("../fonts/muller/muller-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/muller-extrabold.eot");
  src: local('Muller Extrabold'), local('Muller-extrabold'), url("../fonts/muller/muller-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/muller-extrabold.woff2") format("woff2"), url("../fonts/muller/muller-extrabold.woff") format("woff"), url("../fonts/muller/muller-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: Muller, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.logo {
  /* @media (max-width: @xs-max) {
    width: 100px;
  }*/
}
@media (min-width: 768px) {
  .logo {
    padding-left: 20px;
    width: 303px;
  }
}
.logo--footer {
  padding-left: 0;
}
@media (max-width: 767px) {
  .logo--footer {
    width: 200px;
  }
}
.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.search-form {
  background-color: #e6c42f;
}
.search-form__input {
  font-size: 18px;
}
.search-form__input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.copy {
  font-size: 12px;
}
.authors {
  font-size: 12px;
}
@media (max-width: 1199px) {
  .head__toggle {
    border: 0;
    padding: 0;
    margin: 0 4px 6px 10px;
    order: 3;
  }
  .head__toggle .navbar-toggler-icon {
    background-image: url("../images/icons/menu.png");
    width: 30px;
    height: 30px;
    transition: background-image 0.3ms;
  }
  .head__toggle[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("../images/icons/close-small@2x.png");
  }
}
@media (max-width: 1199px) {
  .head__search {
    margin-left: auto;
  }
}
.navbar--head .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 800;
  color: #1c1c1c;
  padding-left: 0;
  padding-right: 26px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .navbar--head {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 21;
    background: #fff;
    width: 100%;
  }
  .navbar--head .navbar-nav .nav-link {
    padding: 11px 18px;
    line-height: 1;
  }
}
.nav--footer.nav .nav-link {
  font-size: 16px;
  font-weight: 800;
  color: #1c1c1c;
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .nav--footer.nav .nav-link {
    font-size: 14px;
    line-height: 1;
  }
}
.navbar--head .navbar-nav .active > .nav-link {
  color: #f23636;
}
@media (max-width: 767px) {
  .navbar--head .navbar-nav .active > .nav-link {
    background-color: #f23636;
    color: #1a1a1a;
  }
}
.nav--footer.nav .active.nav-link {
  color: #f23636;
}
.navbar--head .navbar-nav .nav-link:hover,
.nav--footer.nav .nav-link:hover {
  color: red;
  text-decoration: underline;
}
.grid {
  padding: 9px 9px 0;
  background: #1a1a1a;
}
.grid__article {
  background-color: #fff;
  width: calc(100% * 3 / 4 - 18px);
  padding: 40px 30px;
  margin: 9px;
  float: left;
}
.grid__article h1,
.grid__article h2,
.grid__article h3,
.grid__article h4,
.grid__article h5,
.grid__article h6 {
  font-weight: 800;
  margin-bottom: 20px;
}
.grid__article strong {
  font-weight: 800;
}
.grid__article p {
  margin-bottom: 20px;
}
.grid__article p + h1,
.grid__article p + h2,
.grid__article p + h3,
.grid__article p + h4,
.grid__article p + h5,
.grid__article p + h6 {
  margin-top: 40px;
}
.grid__article > ul {
  list-style: none;
  padding-left: 0;
}
.grid__article > ul li {
  position: relative;
}
.grid__article > ul li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 14px;
  background-color: #1a1a1a;
}
@media (max-width: 767px) {
  .grid__article {
    width: 100%;
  }
}
.grid__sidebar {
  background-color: #fff;
  width: calc(100% / 4 - 18px);
  margin: 9px;
  float: left;
}
.grid__sidebar > *:nth-child(n+2) {
  border-top: 18px solid #1a1a1a;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .grid__sidebar {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .grid {
    padding: 0;
  }
}
.grid + .grid {
  padding: 0 9px;
}
@media (max-width: 767px) {
  .grid + .grid {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .grid:nth-last-child(1) {
    padding-bottom: 9px;
  }
}
.grid:before {
  content: '';
  display: table;
  clear: both;
}
.grid:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 767px) {
  .grid--article-list .new {
    height: auto;
  }
  .grid--article-list .new__bg img {
    display: none;
  }
  .grid--article-list .new__title {
    background-color: #e6c42f;
    color: #1a1a1a;
    font-size: 23px;
    padding: 16px 20px;
  }
  .grid--article-list .new--widget {
    display: none;
  }
}
.nav-link {
  color: #1c1c1c;
  transition: 0.3s;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #e73b35;
  text-decoration: underline;
}
.new {
  background-color: #fff;
  float: left;
  height: 378px;
  width: calc(100% / 3 - 18px);
  margin: 9px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}
.new__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.new__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new__header {
  display: flex;
  letter-spacing: 0.1px;
  padding: 20px 30px 0;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .new__header {
    font-size: 14px;
    padding: 20px 20px 0;
  }
}
.new__category {
  transition: 0.3s;
  color: #1a1a1a;
}
.new__category:hover {
  color: #e73b35;
}
.new__arrow {
  margin-left: auto;
  margin-top: 4px;
}
.new__arrow:before {
  content: '';
  display: inline-block;
  background: url("../images/icons/fill-1.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.new__views {
  margin-top: 4px;
  padding-left: 12px;
}
.new__views:before {
  content: '';
  display: inline-block;
  background: url("../images/icons/eye.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
@media (min-width: 767px) {
  .new__views {
    padding-left: 32px;
  }
}
.new__title {
  font-size: 23px;
  font-weight: 800;
  padding: 0 30px 20px;
  position: relative;
  z-index: 1;
}
.new__title--marked:after {
  content: 'Выбор редакции';
  display: inline-block;
  padding: 4px 8px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  float: right;
}
@media (max-width: 767px) {
  .new__title--marked:after {
    display: none;
  }
}
.new__title--category {
  margin-top: auto;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 40px;
  color: #fff;
}
.new__title--more {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .new__title {
    font-size: 18px;
    line-height: 1.2;
    padding: 0 20px 10px;
  }
}
.new__link {
  transition: 0.3s;
  color: #1a1a1a;
}
.new__link:hover {
  color: #e73b35;
}
.new .h4 {
  font-size: 24px;
  font-weight: 800;
  padding-top: 24px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  .new .h4 {
    font-size: 20px;
  }
}
.new .h5 {
  font-size: 24px;
  font-weight: 800;
  padding-top: 24px;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  .new .h5 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .new {
    width: calc(100%);
    height: 158px;
    float: none;
    margin: 0 0 9px;
  }
}
.new--widget {
  padding: 0 30px 30px;
  justify-content: auto;
}
.new--widget .h5 {
  font-weight: 800;
}
@media (max-width: 767px) {
  .new--widget {
    height: auto;
    max-height: 300px;
    width: calc(100% - 18px);
    margin: 0 9px 9px;
  }
}
.new--small .h5 {
  font-size: 24px;
}
.new--small .h4 {
  font-size: 24px;
  font-weight: 800;
}
.new--related {
  width: 338px;
  height: 338px;
  margin: 0;
  background-color: transparent;
}
@media (max-width: 767px) {
  .new--related {
    width: 100%;
    height: 158px;
  }
}
.new--blue {
  background-color: #6377f3;
  width: 278px;
  height: 278px;
}
@media (max-width: 767px) {
  .new--blue {
    width: 100%;
    height: 158px;
  }
}
.new--gold {
  background-color: #e6c42f;
  width: 278px;
  height: 278px;
}
@media (max-width: 767px) {
  .new--gold {
    width: 100%;
    height: 158px;
  }
}
.new--article {
  padding: 30px;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 1.57;
}
.new--article p {
  margin-bottom: 20px;
}
.new--article.colspan2.rowspan2 {
  width: 838px;
  height: 574px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .new--article.colspan2.rowspan2 {
    width: 100%;
  }
}
.new--empty .new__title {
  margin-top: auto;
}
.new:nth-child(1):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(2):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(3):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(4):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(5):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(6):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(7):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(8):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(9):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(10):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(11):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(12):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(2n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
.new:nth-child(3n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #e6c42f;
}
.new:nth-child(4n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
.new:nth-child(5n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #f23636;
}
.new:nth-child(6n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #6377f3;
}
.new:nth-child(7n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
.auth {
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 1;
  padding: 20px 10px 10px;
  margin: 0;
}
.writer__name {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 14px 10px;
}
.writer__image {
  height: 220px;
  overflow: hidden;
}
.readmore {
  background-color: #fff;
}
.readmore:before {
  content: '';
  display: table;
  clear: both;
}
.readmore:after {
  content: '';
  display: table;
  clear: both;
}
.readmore .h4 {
  font-size: 30px;
  font-weight: 800;
}
.related {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .related {
    flex-direction: column;
  }
}
.fullspan {
  width: calc( 100% - 18px);
  margin: 9px;
  padding: 40px 30px;
}
.colspan2 {
  height: 774px;
}
@media (min-width: 768px) {
  .colspan2 {
    margin-bottom: -9px;
  }
}
@media (max-width: 767px) {
  .colspan2 {
    height: 176px;
  }
}
.fr {
  float: right;
}
.mt-minus {
  margin-top: 0;
}
@media (min-width: 768px) {
  .mt-minus {
    margin-top: calc(-378px + 9px);
  }
}
@media (min-width: 768px) {
  .rowspan2 {
    width: calc(2 * 100% / 3 - 18px);
  }
}
.colspan2.rowspan2 {
  margin-bottom: 9px;
}
@media (max-width: 767px) {
  .colspan2.rowspan2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
.colspan2.mt-minus--up {
  margin-top: 0;
}
@media (min-width: 768px) {
  .colspan2.mt-minus--up {
    margin-top: calc(-378px - 9px);
    margin-bottom: 9px;
  }
}
.colspan2.mt-minus--down {
  margin-top: 0;
}
@media (min-width: 768px) {
  .colspan2.mt-minus--down {
    margin-top: calc(-378px + 9px);
  }
}
.fat-num {
  font-weight: 800;
}
.stats {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  height: auto;
  padding: 40px 30px;
  font-size: 18px;
}
.stats__shared {
  margin-left: auto;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .stats__shared {
    order: 1;
  }
}
.stats__read {
  padding-left: 30px;
}
@media (max-width: 767px) {
  .stats__read {
    order: 1;
  }
}
.stats__commented {
  padding-left: 30px;
}
@media (max-width: 767px) {
  .stats__commented {
    order: 1;
  }
}
@media (max-width: 767px) {
  .stats {
    font-size: 0;
  }
  .stats span {
    font-size: 18px;
  }
}
/*.socials__icon:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    border: 2px solid #3a563f;
    box-shadow: inset 0 0 0 4px rgba(117, 154, 60, 0);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}*/
.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.socials__item {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.socials__icon {
  width: 30px;
  height: 30px;
  background-color: #1a1a1a;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.socials__icon:hover {
  background-color: #5f5f5f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
}
.socials__icon .fa {
  font-size: 17px;
  margin: 0;
}
@media (max-width: 991px) {
  .socials__icon {
    /*    width: 2.5em;
          height: 2.5em;
          .fa {
            font-size: 16px;
          }*/
  }
}
.socials--vertical {
  flex-flow: column;
}
.socials--vertical .socials__item {
  background-color: #e6c42f;
  margin-bottom: 18px;
  text-align: right;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
@media (max-width: 767px) {
  .socials--vertical .socials__item {
    margin-bottom: 13px;
  }
}
.socials--vertical .socials__icon {
  color: #e6c42f;
  width: 40px;
  height: 40px;
  font-size: 22px;
}
@media (max-width: 767px) {
  .socials--vertical .socials__icon {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }
}
.socials--horizontal .socials__item {
  margin-bottom: 13px;
  padding: 0 4px;
}
@media (max-width: 767px) {
  .socials--horizontal .socials__item {
    padding: 0 10px 0 0 ;
  }
}
@media (min-width: 992px) {
  .socials--horizontal .socials__item + .socials__item {
    margin-left: 11px;
  }
}
@media (max-width: 767px) {
  .socials--horizontal .socials__icon {
    width: 20px;
    height: 20px;
    font-size: 11px;
  }
}
@media (min-width: 0px) {
  .socials--horizontal {
    top: 0;
    left: 118px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.socials--sidebar .socials__item {
  margin-top: 19px;
  margin-bottom: 0;
}
.socials--sidebar .socials__icon {
  width: 30px;
  height: 30px;
  font-size: 14px;
}
.socials--article {
  flex-direction: row;
}
.socials--article .socials__item {
  padding-right: 20px;
  align-items: center;
}
@media (max-width: 991px) {
  .socials {
    /*height: 190px;*/
  }
}
a.socials__item {
  transition: 0.3s;
  text-decoration: none;
  color: #1a1a1a;
}
a.socials__item:hover {
  background-color: #e73b35;
}
a.socials__item:hover .socials__icon {
  color: #e73b35;
  transition: 0.3s;
}
.popular {
  margin-bottom: 14px;
}
.popular__theme:before {
  content: '';
  background-color: #f23636;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.popular__title {
  font-weight: 800;
  margin-top: 9px;
  padding: 0;
}
.btn--borderless {
  border: 0;
}
.btn--transparent {
  background: transparent;
}
.btn--black {
  color: #fff;
  background-color: #1a1a1a;
  border: 0;
  transition: 0.3s;
  border-radius: 0;
}
.btn--black:hover {
  background-color: #e73b35;
  color: #fff;
}
.btn--widget {
  font-size: 30px;
  font-weight: 800;
  padding: 18px 0;
}
@media (max-width: 767px) {
  .btn--widget {
    font-size: 20px;
  }
}
.btn--sub {
  display: block;
  margin-top: auto;
}
.btn--sidebar {
  padding: 7px 0;
  font-size: 18px;
}
.btn--article {
  text-transform: uppercase;
  padding: 11px 55px;
}
.btn--unroll {
  margin-left: auto;
  color: #1a1a1a;
  /*    &::after{
      display: inline-block;
      margin-left: 10px;
      transition: .3s;
      font-family: "Font Awesome 5 Free";
      content: '\f107';
    }*/
}
.btn--unroll .fa {
  transition: 0.3s;
}
.btn--unroll[aria-expanded="true"] .fa {
  transition: 0.3s;
  transform: rotate(180deg);
}
.btn--pick {
  font-size: 24px;
  font-weight: 800;
  padding: 14px 30px;
}
@media (max-width: 767px) {
  .btn--pick {
    font-size: 18px;
    padding: 6px 30px;
  }
}
.input {
  border: 2px solid #1c1c1c;
  border-radius: 0;
  font-size: 24px;
  font-weight: 800;
}
.input::placeholder {
  color: #1c1c1c;
}
.input--transparent {
  background-color: transparent;
  padding: 38px 20px;
  font-size: 24px;
}
.input--sidebar {
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
}
.creator {
  flex-flow: row;
  justify-content: unset;
}
.creator__avatar {
  height: 378px;
  overflow: hidden;
  min-width: 369px;
}
.creator__avatar img {
  width: 100%;
  object-fit: cover;
}
.creator__info {
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}
.creator__name {
  padding: 30px;
  font-size: 30px;
  font-weight: 800;
  color: #1a1a1a;
  transition: 0.3s;
}
.creator__name:hover {
  color: #f23636;
}
.creator__text {
  padding: 10px 30px;
  margin-bottom: auto;
}
.creator__articles-count {
  padding: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.creator.fullspan {
  padding: 0;
}
.creator.colspan2 {
  flex-flow: column;
}
.creator--reverse {
  flex-flow: row-reverse;
}
.empty {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 50px 0;
}
.empty__head {
  font-size: 110px;
  font-weight: 800;
  line-height: 1;
}
.empty__body {
  font-size: 50px;
  line-height: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
.elections {
  background-color: #1a1a1a;
}
.election {
  background-color: #fff;
  border: 18px solid #1a1a1a;
}
.election__header {
  padding: 30px 30px 15px;
  position: relative;
}
@media (max-width: 767px) {
  .election__header {
    padding: 20px 30px 5px 20px;
  }
}
.election__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 767px) {
  .election__close {
    top: 14px;
    right: 21px;
  }
}
.election__close-icon {
  background: url('../images/icons/search/combined-shape.png');
  height: 40px;
  width: 40px;
}
@media (max-width: 767px) {
  .election__close-icon {
    height: 26px;
    width: 26px;
    display: block;
    padding: 0;
    background-size: 100%;
  }
}
.election__body {
  padding: 30px;
  border-top: 18px solid #1a1a1a;
}
@media (max-width: 767px) {
  .election__body {
    border-width: 0;
    padding: 20px;
  }
}
.election__select {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}
.election__select .checkbox {
  margin-bottom: 8px;
  display: flex;
}
@media (max-width: 767px) {
  .election__select .checkbox {
    margin-bottom: 0;
  }
  .election__select .checkbox.w-50 {
    margin-right: 50%;
  }
}
@media (max-width: 767px) {
  .election__select {
    margin-bottom: 2px;
  }
}
.election__footer {
  padding: 40px 30px 30px;
  border-top: 18px solid #1a1a1a;
  background-color: #e6c42f;
  text-align: center;
}
@media (max-width: 767px) {
  .election__footer {
    border-width: 9px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 800;
  }
}
.election .h4 {
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
}
@media (max-width: 767px) {
  .election .h4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .election input.h4 {
    font-size: 18px;
  }
}
.election .h5 {
  font-size: 22px;
  line-height: 1.27;
}
@media (max-width: 767px) {
  .election .h5 {
    font-size: 16px;
    line-height: 1.57;
  }
}
.election--first .election__body {
  background-color: #6377f3;
  display: flex;
  flex-flow: column;
}
.election--second .election__body {
  background-color: #f23636;
  display: flex;
  flex-flow: column;
}
.election--second .election__select .checkbox label:last-of-type {
  margin-top: 5px;
  margin-bottom: 0;
}
.election--third .election__body {
  background-color: #f23636;
  display: flex;
  flex-flow: column;
}
.election--third .election__select .checkbox label:last-of-type {
  margin-top: 5px;
  margin-bottom: 0;
}
.election--fourth .election__footer {
  border: 0;
}
@media (max-width: 767px) {
  .election {
    border-width: 9px;
  }
}
.custom .checkbox input[type='checkbox'] {
  display: none;
}
.custom .checkbox input[type='checkbox'] + label {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  border: 3px solid black;
  background: #fff;
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .custom .checkbox input[type='checkbox'] + label {
    height: 20px;
    width: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 11px;
  }
}
.custom .checkbox label {
  vertical-align: middle;
}
.custom .checkbox label:last-of-type {
  font-size: 22px;
  margin-left: 18px;
  line-height: 1;
}
@media (max-width: 767px) {
  .custom .checkbox label:last-of-type {
    font-size: 15px;
    margin-left: 11px;
    margin-top: 4px;
    margin-bottom: 11px;
  }
}
.custom .checkbox input[type='checkbox']:checked + label::before {
  color: black;
  font-size: 8px;
  background-color: black;
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
}
@media (max-width: 767px) {
  .custom .checkbox input[type='checkbox']:checked + label::before {
    width: 10px;
    height: 10px;
  }
}
.results {
  display: flex;
}
.results__rating {
  font-size: 21px;
  font-weight: 800;
  min-width: 45px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .results__rating {
    font-size: 15px;
    min-width: 35px;
  }
}
.results__item {
  font-size: 22px;
}
.results__item--chosen {
  font-weight: 800;
}
@media (max-width: 767px) {
  .results__item {
    font-size: 16px;
  }
}
.breadcrumbs {
  position: relative;
}
.breadcrumbs__container {
  position: absolute;
  top: -50px;
}
@media (max-width: 767px) {
  .breadcrumbs__container {
    display: none;
  }
}
.breadcrumb--head {
  background-color: transparent;
}
.breadcrumb-item {
  font-size: 14px;
  color: #1a1a1a;
}
.breadcrumb-item a {
  color: #1a1a1a;
  transition: 0.3s;
}
.breadcrumb-item a:hover {
  color: #f23636;
}
.w500 {
  width: 548px;
}
@media (max-width: 767px) {
  .w500 {
    width: 100%;
  }
}
.main {
  display: flex;
  justify-content: flex-end;
  width: 200%;
  margin-left: calc(-100% + 15px);
}
@media (max-width: 767px) {
  .main {
    width: 100%;
    margin-left: 0;
  }
}
.collapsing.width {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.65s;
  transition-duration: 0.65s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.picker {
  max-width: 548px;
  width: 548px;
}
.picker.show .w500 {
  position: fixed;
}
@media (max-width: 767px) {
  .picker.show .w500 {
    position: static;
  }
}
@media (max-width: 767px) {
  .picker {
    float: left;
    width: 100%;
    height: 100%;
  }
}
.branding {
  background: url(../images/guy.jpg) fixed 50% 0%, url(../images/guy.jpg) repeat-x 50% 0%;
}
.branding header .navbar {
  background-color: #fff;
}
.branding__proposal {
  display: none;
  height: 200px;
}
.branding footer > * {
  background-color: #fff;
}
.proposal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.link--brand {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: -1;
}
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.bell {
  background-color: #1a1a1a;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 10px;
}
.bell__icon {
  cursor: pointer;
}
@media (max-width: 767px) {
  .bell__icon {
    width: 40px;
    height: 40px;
  }
}
.bell__text {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .bell__link {
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .bell .collapse {
    display: block;
  }
}
@media (min-width: 768px) {
  .bell {
    height: auto;
    top: 140px;
    right: 0;
    position: absolute;
    z-index: 20;
    margin-top: 0;
    font-size: 18px;
  }
}
.music {
  top: 490px;
  right: 20px;
  position: fixed;
  background: url("../images/icons/audio-mobile.png");
  width: 50px;
  height: 50px;
  z-index: 20;
  color: #000;
  transition: 0.3s;
}
.music:hover {
  background: url("../images/icons/audio-active.png");
}
@media (min-width: 768px) {
  .music {
    position: absolute;
    top: 778px;
    right: 0;
    background: url("../images/icons/audio.png");
    width: 90px;
    height: 90px;
  }
}
.bd-top-18 {
  border-top: 18px solid #1a1a1a;
}
.share {
  padding: 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.comment {
  padding: 30px 30px 0;
  margin-left: -30px;
  margin-right: -30px;
}
.comment__text {
  font-size: 30px;
  font-weight: 800;
}
.searching {
  padding: 9px;
}
.searching__request {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  line-height: 1;
}
.searching__request span {
  color: #f23636;
}
.searching__categories {
  font-size: 18px;
  font-weight: 800;
  background-color: #fff;
  color: #1a1a1a;
  display: flex;
  padding: 25px 30px;
  margin-top: 9px;
}
.searching__category {
  padding: 0;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  transition: 0.3s;
}
.searching__category:hover {
  color: #f23636;
}
.searching__category:hover .searching__category-remove {
  background: url('../images/icons/close-small-hover.png');
}
.searching__category--active {
  color: #f23636;
}
.searching__category--active .searching__category-remove {
  background: url('../images/icons/close-small-hover.png');
}
.searching__category-remove {
  display: inline-block;
  background: url('../images/icons/close-small.png');
  height: 13px;
  width: 13px;
  padding: 0;
  transition: 0.3s;
}
.pagination--author {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.page-link {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 800;
  padding: 8px;
  line-height: 1;
  /*  padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;*/
}
.page-link:hover {
  color: #1a1a1a;
  background-color: #f23636;
  border-color: #f23636;
}
.page-link:focus {
  /*outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;*/
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0;
}
.page-item:last-child .page-link {
  border-radius: 0;
}
.page-item.active .page-link {
  background-color: #f23636;
  border-color: #f23636;
  color: #1a1a1a;
}
.page-item.disabled .page-link {
  /*color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;*/
}
blockquote {
  border-left: #f23636 1px solid;
  padding-left: 10px;
}
.bg-black {
  background-color: #1a1a1a;
}
.slider {
  margin-bottom: 40px;
}
.slider--arrows {
  background-color: #1a1a1a;
  padding: 0 80px;
}
a.back-to-top {
  display: none;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 320px;
  background: url("../images/icons/top.png");
}
@media (max-width: 767px) {
  a.back-to-top {
    display: none !important;
  }
}
a.back-to-bot {
  display: none;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 220px;
  background: url("../images/icons/bottom.png");
}
@media (max-width: 767px) {
  a.back-to-bot {
    display: none !important;
  }
}
/*# sourceMappingURL=main-page.css.map */