@import "variables";

.new {
  background-color: #fff;
  float: left;
  height: @grid-height;
  width: ~"calc(100% / 3 - 18px)";
  margin: 9px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;

  &__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__header{
    display: flex;
    letter-spacing:0.1px;
    padding: 20px 30px 0;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    @media (max-width: @xs-max) {
      font-size: 14px;
      padding: 20px 20px 0;
    }
  }
  &__category{
    transition: .3s;
    color: @black;
    &:hover{
      color: @button-hover-color;
    }
  }
  &__arrow{
    margin-left: auto;
    margin-top: 4px;

    &:before{
      content: '';
      display: inline-block;
      background: url("../images/icons/fill-1.png");
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }
  &__views{
    margin-top: 4px;
    padding-left: 12px;
    &:before{
      content: '';
      display: inline-block;
      background: url("../images/icons/eye.png");
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }

    @media (min-width: @xs-max) {
      padding-left: 32px;
    }
  }
  &__title{
    font-size: 23px;
    font-weight: 800;
    padding: 0 30px 20px;
    position: relative;
    z-index: 1;

    &--marked{
      &:after{
        content: 'Выбор редакции';
        display: inline-block;
        padding: 4px 8px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        float: right;
        @media (max-width: @xs-max) {
          display: none;
        }
      }
    }

    &--category{
      margin-top: auto;
      font-weight: 800;
      font-size: 50px;
      padding-bottom: 40px;
      color: #fff;
    }

    &--more{
      text-transform: uppercase;
    }

    @media (max-width: @xs-max) {
      font-size: 18px;
      line-height: 1.2;
      padding: 0 20px 10px;
    }
  }
  &__link{
    transition: .3s;
    color: @black;
    &:hover{
      color: @button-hover-color;
    }
  }

  .h4{
    font-size: 24px;
    font-weight: 800;
    padding-top: 24px;
    text-transform: uppercase;
    margin-bottom: 19px;

    @media (max-width: @xs-max) {
      font-size: 20px;
    }
  }
  .h5{
    font-size: 24px;
    font-weight: 800;
    padding-top: 24px;
    margin-bottom: 19px;

    @media (max-width: @xs-max) {
      font-size: 18px;
    }
  }

  @media (max-width: @xs-max) {
    width: ~"calc(100%)";
    height: @grid-height-mobile;
    float: none;
    margin: 0 0 9px;
  }
  &--widget{
    padding: 0 30px 30px;
    justify-content: auto;

    .h5{
      font-weight: 800;
    }

    @media (max-width: @xs-max) {
      height: auto;
      max-height: 300px;
      width: ~"calc(100% - 18px)";
      margin: 0 9px 9px;
    }
  }
  &--small{
    .h5{
      font-size: 24px;
    }
    .h4{
      font-size: 24px;
      font-weight: 800;
    }
  }
  &--related{
    width: 338px;
    height: 338px;
    margin: 0;
    background-color: transparent;

    @media (max-width: @xs-max) {
      width: 100%;
      height: @grid-height-mobile;
    }
  }

  &--blue{
    background-color: @purple;
    width: 278px;
    height: 278px;
     @media (max-width: @xs-max) {
       width: 100%;
       height: @grid-height-mobile;
     }
  }
  &--gold{
    background-color: @gold;
    width: 278px;
    height: 278px;
     @media (max-width: @xs-max) {
       width: 100%;
       height: @grid-height-mobile;
     }
  }
  &--article{
    padding: 30px;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 1.57;

    p{
      margin-bottom: 20px;
    }
    &.colspan2.rowspan2{
      width: 838px;
      height: 574px;
      max-width: 100%;

      @media (max-width: @xs-max) {
        width: 100%;
      }
    }
  }
  &--empty{
    .new__title{
      margin-top: auto;
    }
  }
}

.new{
  // COLOR - SCHEME ONE
  &:nth-child(1):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,150,50);
    background-color: @gold;
  }
  &:nth-child(2):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,160,60);
    background-color: @red-one;
  }
  &:nth-child(3):not(.new--widget):not(.new-auth):not(.new--empty){
    background-color: rgb(98, 115, 244);
  }
  &:nth-child(4):not(.new--widget):not(.new-auth):not(.new--empty){
    background-color: rgb(98, 125, 254);
  }
  &:nth-child(5):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,110,110);
    background-color: @gold;
  }
  &:nth-child(6):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,120,120);
    background-color: @red-one;
  }
  &:nth-child(7):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,100,100);
    background-color: rgb(98, 115, 244);
  }
  &:nth-child(8):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,150,50);
    background-color: rgb(98, 125, 254);
  }
  &:nth-child(9):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,160,60);
    background-color: @gold;
  }
  &:nth-child(10):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,170,70);
    background-color: @red-one;
  }
  &:nth-child(11):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,180,80);
    background-color: rgb(98, 115, 244);
  }
  &:nth-child(12):not(.new--widget):not(.new-auth):not(.new--empty){
    //background-color: rgb(0,190,90);
    background-color: rgb(98, 125, 254);
  }


  //COLOR - SCHEME TWO -- AUTHORS
  &:nth-child(2n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: #fff;
  }
  &:nth-child(3n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: @gold;
  }
  &:nth-child(4n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: #fff;
  }
  &:nth-child(5n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: @red-one;
  }
  &:nth-child(6n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: @purple;
  }
  &:nth-child(7n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue){
    background-color: #fff;
  }


}
