.new {
  background-color: #fff;
  float: left;
  height: 378px;
  width: calc(100% / 3 - 18px);
  margin: 9px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}
.new__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.new__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new__header {
  display: flex;
  letter-spacing: 0.1px;
  padding: 20px 30px 0;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .new__header {
    font-size: 14px;
    padding: 20px 20px 0;
  }
}
.new__category {
  transition: 0.3s;
  color: #1a1a1a;
}
.new__category:hover {
  color: #e73b35;
}
.new__arrow {
  margin-left: auto;
  margin-top: 4px;
}
.new__arrow:before {
  content: '';
  display: inline-block;
  background: url("../images/icons/fill-1.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.new__views {
  margin-top: 4px;
  padding-left: 12px;
}
.new__views:before {
  content: '';
  display: inline-block;
  background: url("../images/icons/eye.png");
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
@media (min-width: 767px) {
  .new__views {
    padding-left: 32px;
  }
}
.new__title {
  font-size: 23px;
  font-weight: 800;
  padding: 0 30px 20px;
  position: relative;
  z-index: 1;
}
.new__title--marked:after {
  content: 'Выбор редакции';
  display: inline-block;
  padding: 4px 8px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  float: right;
}
@media (max-width: 767px) {
  .new__title--marked:after {
    display: none;
  }
}
.new__title--category {
  margin-top: auto;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 40px;
  color: #fff;
}
.new__title--more {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .new__title {
    font-size: 18px;
    line-height: 1.2;
    padding: 0 20px 10px;
  }
}
.new__link {
  transition: 0.3s;
  color: #1a1a1a;
}
.new__link:hover {
  color: #e73b35;
}
.new .h4 {
  font-size: 24px;
  font-weight: 800;
  padding-top: 24px;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  .new .h4 {
    font-size: 20px;
  }
}
.new .h5 {
  font-size: 24px;
  font-weight: 800;
  padding-top: 24px;
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  .new .h5 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .new {
    width: calc(100%);
    height: 158px;
    float: none;
    margin: 0 0 9px;
  }
}
.new--widget {
  padding: 0 30px 30px;
  justify-content: auto;
}
.new--widget .h5 {
  font-weight: 800;
}
@media (max-width: 767px) {
  .new--widget {
    height: auto;
    max-height: 300px;
    width: calc(100% - 18px);
    margin: 0 9px 9px;
  }
}
.new--small .h5 {
  font-size: 24px;
}
.new--small .h4 {
  font-size: 24px;
  font-weight: 800;
}
.new--related {
  width: 338px;
  height: 338px;
  margin: 0;
  background-color: transparent;
}
@media (max-width: 767px) {
  .new--related {
    width: 100%;
    height: 158px;
  }
}
.new--blue {
  background-color: #6377f3;
  width: 278px;
  height: 278px;
}
@media (max-width: 767px) {
  .new--blue {
    width: 100%;
    height: 158px;
  }
}
.new--gold {
  background-color: #e6c42f;
  width: 278px;
  height: 278px;
}
@media (max-width: 767px) {
  .new--gold {
    width: 100%;
    height: 158px;
  }
}
.new--article {
  padding: 30px;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 1.57;
}
.new--article p {
  margin-bottom: 20px;
}
.new--article.colspan2.rowspan2 {
  width: 838px;
  height: 574px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .new--article.colspan2.rowspan2 {
    width: 100%;
  }
}
.new--empty .new__title {
  margin-top: auto;
}
.new:nth-child(1):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(2):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(3):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(4):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(5):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(6):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(7):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(8):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(9):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #e6c42f;
}
.new:nth-child(10):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #f23636;
}
.new:nth-child(11):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #6273f4;
}
.new:nth-child(12):not(.new--widget):not(.new-auth):not(.new--empty) {
  background-color: #627dfe;
}
.new:nth-child(2n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
.new:nth-child(3n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #e6c42f;
}
.new:nth-child(4n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
.new:nth-child(5n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #f23636;
}
.new:nth-child(6n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #6377f3;
}
.new:nth-child(7n).new-auth:not(.new--widget):not(.new--empty):not(.new--blue) {
  background-color: #fff;
}
