.pagination--author {
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.page-link {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 800;
  padding: 8px;
  line-height: 1;
  /*  padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;*/
}
.page-link:hover {
  color: #1a1a1a;
  background-color: #f23636;
  border-color: #f23636;
}
.page-link:focus {
  /*outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;*/
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 0;
}
.page-item:last-child .page-link {
  border-radius: 0;
}
.page-item.active .page-link {
  background-color: #f23636;
  border-color: #f23636;
  color: #1a1a1a;
}
.page-item.disabled .page-link {
  /*color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;*/
}
