@import "variables";

.pagination {
  &--author {
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

.page-link {
  color: @pagination-color;
  font-size: 20px;
  font-weight: 800;
  padding: 8px;
  line-height: 1;
  /*  padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;*/

  &:hover {
    color: @pagination-hover-color;
    background-color: @pagination-hover-bg;
    border-color: @pagination-hover-border-color;
  }

  &:focus {
    /*outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;*/
  }

}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      border-radius: 0;
    }
  }
  &:last-child {
    .page-link {
      border-radius: 0;
    }
  }

  &.active .page-link {
    background-color: @pagination-active-bg;
    border-color: @pagination-active-border-color;
    color: @pagination-active-color;
  }

  &.disabled .page-link {
    /*color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;*/
  }
}


