.searching {
  padding: 9px;
}
.searching__request {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  line-height: 1;
}
.searching__request span {
  color: #f23636;
}
.searching__categories {
  font-size: 18px;
  font-weight: 800;
  background-color: #fff;
  color: #1a1a1a;
  display: flex;
  padding: 25px 30px;
  margin-top: 9px;
}
.searching__category {
  padding: 0;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  transition: 0.3s;
}
.searching__category:hover {
  color: #f23636;
}
.searching__category:hover .searching__category-remove {
  background: url('../images/icons/close-small-hover.png');
}
.searching__category--active {
  color: #f23636;
}
.searching__category--active .searching__category-remove {
  background: url('../images/icons/close-small-hover.png');
}
.searching__category-remove {
  display: inline-block;
  background: url('../images/icons/close-small.png');
  height: 13px;
  width: 13px;
  padding: 0;
  transition: 0.3s;
}
