@import 'variables';

.searching{
  &__request{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    line-height: 1;

    span{
      color: @red-one;
    }
    &--active{

    }
  }
  &__categories{
    font-size: 18px;
    font-weight: 800;
    background-color: #fff;
    color: @black;
    display: flex;
    padding: 25px 30px;
    margin-top: 9px;
  }
    &__category{
      padding: 0;
      margin-right: 20px;
      font-size: 18px;
      font-weight: 800;
      line-height: 1;
      transition: .3s;

      &:hover{
        color: @red-one;
        .searching__category-remove{
          background: url('../images/icons/close-small-hover.png');
        }
      }

      &--active{
        color: @red-one;
        .searching__category-remove{
          background: url('../images/icons/close-small-hover.png');
        }
      }
    }
      &__category-remove{
        display: inline-block;
        background: url('../images/icons/close-small.png');
        //background: url('../images/icons/close-small.svg');
        height: 13px;
        width: 13px;
        padding: 0;
        transition: .3s;
      }

  padding: 9px;
}