@grid-height : 378px;
@grid-height-mobile : 158px;
@button-hover-color: #e73b35;
@purple: #6377f3;
@gold: #e6c42f;
@red-one: #f23636;
@black: #1a1a1a;

// Pagination
@pagination-color: @black;

@pagination-active-bg: @red-one;
@pagination-active-border-color: @red-one;
@pagination-active-color: @black;

@pagination-hover-bg: @red-one;
@pagination-hover-border-color: @red-one;
@pagination-hover-color: @black;

//media
@min: 0px;
@max: 543px;
@xs-min: 544px;
@xs-max: 767px;
@sm-min: 768px;
@sm-max: 991px;
@md-min: 992px;
@md-max: 1199px;
@xl-min: 1200px;
//@xl-max: 0px;