/*===============================================================
===                     Grid : start
===============================================================*/
.dw {
    animation: fade 2s;
}

.dw {
    box-sizing: border-box;
    column-gap: 0;
    position: relative;
}

.dw * {
    box-sizing: border-box;
}

.dw__fcs-crtn {
    background-color: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.75;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    .dw {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .dw {
        column-count: 3;
    }
}

@media (min-width: 1500px) {
    .dw {
        column-count: 4;
    }
}

.dw-pnl {
    margin: 0;
}

.dw-pnl--fcs {
    position: relative;
}

.dw-pnl--fcs:hover {
    z-index: 3;
}

.dw-pnl--fcs:hover ~ .dw__fcs-crtn {
    display: block;
}

.dw-pnl--pls {
    transform-style: preserve-3d;
    perspective: 1000;
    transition: transform 0.25s ease 0s;
}

.dw-pnl--pls:hover {
    transform: scale(1.02);
}

.dw-pnl__cntnt {
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .dw-pnl {
        break-inside: avoid;
    }
}

.dw-flp {
    perspective: 1000;
}

.dw-flp:hover .dw-flp__cntnt {
    transform: rotateY(180deg);
}

.dw-flp--sm {
    height: 200px;
}

.dw-flp--md {
    height: 300px;
}

.dw-flp--lg {
    height: 400px;
}

.dw-flp__pnl {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    overflow: visible;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

.dw-flp__pnl--frnt {
    transform: rotateY(0deg);
    z-index: 2;
}

.dw-flp__pnl--bck {
    transform: rotateY(180deg);
}

.dw-flp__cntnt {
    height: 100%;
    overflow: visible;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.25s;
}

.dw-clstr {
    display: flex;
    padding: 0;
}

@media (max-width: 430px) {
    .dw-clstr--vrt {
        flex-direction: column;
    }
}

.dw-clstr--hrz {
    flex-direction: column;
}

.dw-clstr__sgmnt {
    display: flex;
    flex: 1 1 auto;
}

.dw-clstr__sgmnt--rw {
    display: flex;
}

@media (max-width: 430px) {
    .dw-clstr__sgmnt--rw {
        flex-direction: column;
    }
}

.dw-clstr__sgmnt--clmn {
    flex-direction: column;
}

@media (min-width: 430px) {
    .dw-clstr__sgmnt--hlf {
        flex-basis: 50%;
    }

    .dw-clstr__sgmnt--qrt {
        flex-basis: 25%;
    }
}
/**
  * Theming
*/
* {
    box-sizing: border-box;
}

.tx--left {
    text-align: left;
}

.tx--right {
    text-align: right;
}

.tx--center {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 0;
}
/**
* Colors
*/
.bd--black {
    border: 4px solid #000;
}

.bg--black {
    background-color: #000;
}

.tx--black {
    color: #000;
}

.bd--red {
    border: 4px solid #e74c3c;
}

.bg--red {
    background-color: #e74c3c;
}

.tx--red {
    color: #e74c3c;
}

.bd--blue {
    border: 4px solid #1e8bc3;
}

.bg--blue {
    background-color: #1e8bc3;
}

.tx--blue {
    color: #1e8bc3;
}

.bd--green {
    border: 4px solid #26a65b;
}

.bg--green {
    background-color: #26a65b;
}

.tx--green {
    color: #26a65b;
}

.bd--grey {
    border: 4px solid #6c7a89;
}

.bg--grey {
    background-color: #6c7a89;
}

.tx--grey {
    color: #6c7a89;
}

.bd--purple {
    border: 4px solid #8e44ad;
}

.bg--purple {
    background-color: #8e44ad;
}

.tx--purple {
    color: #8e44ad;
}

.bd--dark {
    border: 4px solid #1a1a1a;
}

.bg--dark {
    background-color: #1a1a1a;
}

.tx--dark {
    color: #1a1a1a;
}
/**
* Images
*/
img {
    max-height: 300px;
}

img.dw-pnl__cntnt,
img.dw-flp__pnl {
    padding: 0;
}

img.dw-flp__pnl {
    max-height: 100%;
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*===============================================================
===                     Grid : end
===============================================================*/
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.btn--borderless{
    border: 0;
}
.btn--transparent{
    background: transparent;
}
.ai-center{
    align-items: center;
}
.search-form{
    background-color: #e6c42f;
}
.search-form__input{
    font-size: 18px;
}
.search-form__input:focus{
    box-shadow: none;
}
.copy{
    font-size: 12px;
}
.authors{
    font-size: 12px;
}
.socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.socials__item {

    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 4px;

}

@media (min-width: 992px) {
    .socials {
        top: 0;
        left: 118px;
        flex-direction: row;
    }
    .socials__item {

    }
    .socials__item + .socials__item {
        margin-left: 11px;
    }
}

.socials__icon{
    width: 30px;
    height: 30px;
    background-color: #1a1a1a;
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
}
.socials__icon:hover {
    background-color: #5f5f5f;
    transition: .3s;
    color: #ffffff;
    text-decoration: none;
}

/*.socials__icon:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    border: 2px solid #3a563f;
    box-shadow: inset 0 0 0 4px rgba(117, 154, 60, 0);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}*/

.socials__icon .fa {
    font-size: 17px;
    margin: 0;
}
@media (max-width: 991px) {
    .socials{
        height: 190px;
    }
    .socials__icon {
        width: 2.5em;
        height: 2.5em;
    }
    .socials__icon .fa {
        font-size: 16px;
    }
}

.navbar--head .navbar-nav .nav-link{
    font-size: 16px;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.navbar--footer .navbar-nav .nav-link{
    font-size: 16px;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.navbar--head .navbar-nav .active > .nav-link,
.navbar--footer .navbar-nav .active > .nav-link{
    color: red;
}
.navbar--head .navbar-nav .nav-link:hover,
.navbar--footer .navbar-nav .nav-link:hover{
    color: red;
    text-decoration: underline;
}
