.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
    background-color: #000;
    padding-top: 18px;
    padding-bottom: 18px;
}
.grid__item:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}
.grid__item:nth-child(4){
    grid-row-start: 2;
    grid-row-end: 4;
}
.grid__item:nth-child(6){
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid__item{
    background-color: blue;
}


