/*===============================================================
===                     Grid : start
===============================================================*/
.dw {
    -webkit-animation: fade 2s;
    animation: fade 2s;
}

.dw {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-column-gap: 0;
    column-gap: 0;
    position: relative;
}

.dw * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dw__fcs-crtn {
    background-color: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.75;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    .dw {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .dw {
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1500px) {
    .dw {
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.dw-pnl {
    margin: 0;
}

.dw-pnl--fcs {
    position: relative;
}

.dw-pnl--fcs:hover {
    z-index: 3;
}

.dw-pnl--fcs:hover ~ .dw__fcs-crtn {
    display: block;
}

.dw-pnl--pls {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: -webkit-transform 0.25s ease 0s;
    transition: -webkit-transform 0.25s ease 0s;
    -o-transition: transform 0.25s ease 0s;
    transition: transform 0.25s ease 0s;
    transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}

.dw-pnl--pls:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.dw-pnl__cntnt {
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .dw-pnl {
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }
}

.dw-flp {
    -webkit-perspective: 1000;
    perspective: 1000;
}

.dw-flp:hover .dw-flp__cntnt {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.dw-flp--sm {
    height: 200px;
}

.dw-flp--md {
    height: 300px;
}

.dw-flp--lg {
    height: 400px;
}

.dw-flp__pnl {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    overflow: visible;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

.dw-flp__pnl--frnt {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
}

.dw-flp__pnl--bck {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.dw-flp__cntnt {
    height: 100%;
    overflow: visible;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.dw-clstr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

@media (max-width: 430px) {
    .dw-clstr--vrt {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.dw-clstr--hrz {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dw-clstr__sgmnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dw-clstr__sgmnt--rw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 430px) {
    .dw-clstr__sgmnt--rw {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.dw-clstr__sgmnt--clmn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 430px) {
    .dw-clstr__sgmnt--hlf {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .dw-clstr__sgmnt--qrt {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }
}
/**
  * Theming
*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tx--left {
    text-align: left;
}

.tx--right {
    text-align: right;
}

.tx--center {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 0;
}
/**
* Colors
*/
.bd--black {
    border: 4px solid #000;
}

.bg--black {
    background-color: #000;
}

.tx--black {
    color: #000;
}

.bd--red {
    border: 4px solid #e74c3c;
}

.bg--red {
    background-color: #e74c3c;
}

.tx--red {
    color: #e74c3c;
}

.bd--blue {
    border: 4px solid #1e8bc3;
}

.bg--blue {
    background-color: #1e8bc3;
}

.tx--blue {
    color: #1e8bc3;
}

.bd--green {
    border: 4px solid #26a65b;
}

.bg--green {
    background-color: #26a65b;
}

.tx--green {
    color: #26a65b;
}

.bd--grey {
    border: 4px solid #6c7a89;
}

.bg--grey {
    background-color: #6c7a89;
}

.tx--grey {
    color: #6c7a89;
}

.bd--purple {
    border: 4px solid #8e44ad;
}

.bg--purple {
    background-color: #8e44ad;
}

.tx--purple {
    color: #8e44ad;
}

.bd--dark {
    border: 4px solid #1a1a1a;
}

.bg--dark {
    background-color: #1a1a1a;
}

.tx--dark {
    color: #1a1a1a;
}
/**
* Images
*/
img {
    max-height: 300px;
}

img.dw-pnl__cntnt,
img.dw-flp__pnl {
    padding: 0;
}

img.dw-flp__pnl {
    max-height: 100%;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*===============================================================
===                     Grid : end
===============================================================*/
html, body{
    height: 100%;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.logo{
    padding-left: 20px;
}

.ai-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.search-form{
    background-color: #e6c42f;
}
.search-form__input{
    font-size: 18px;
}
.search-form__input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.copy{
    font-size: 12px;
}
.authors{
    font-size: 12px;
}


.navbar--head .navbar-nav .nav-link{
    font-size: 18px;
    font-weight: 800;
    padding-left: 0;
    padding-right: 26px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.navbar--footer .navbar-nav .nav-link{
    font-size: 16px;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.navbar--head .navbar-nav .active > .nav-link,
.navbar--footer .navbar-nav .active > .nav-link{
    color: red;
}
.navbar--head .navbar-nav .nav-link:hover,
.navbar--footer .navbar-nav .nav-link:hover{
    color: red;
    text-decoration: underline;
}
/*.grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 18px;
    background-color: #000;
    padding-top: 18px;
    padding-bottom: 18px;
}
.grid__item:nth-child(2){
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
}
.grid__item:nth-child(4){
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
}
.grid__item:nth-child(6){
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
}
.grid__item{
    background-color: blue;
}*/

